<ul>
    <% for (var i=0; i<(cols*rows); i++) { %>
        
        <li>
            <img src="img/bg_closed.png" class="<%= i %>" alt="" width="40" height="40" onselect="this.blur();" />
        </li>

    <% }//endfor; %>
</ul>
